<!-- Card -->
<div class="card card-image" style="background-image: url(assets/img/musica-electronica-sin-copyright-1.jpg);">

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h5 class="pink-text"><i class="fas fa-music"></i> Musica</h5>
        <h3 class="card-title pt-2"><strong>Cantidad de generos</strong></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
          Odit sed qui, dolorum!.</p>
        <a class="btn peach-gradient"><i class="fas fa-dollar-sign left"></i> Donar</a>
      </div>
    </div>
  
  </div>
  <!-- Card -->